.so-header {
  float: left;
  position: fixed;
  min-width: auto;
  border-top: 3px solid purple;
  top: 0;
  left: 0;
  width: 100%;
  background-color: inherit;
}
.nav-list {
  list-style: none;
}
.nav-item {
  padding-left: 20px;
  display: inline;
  font-family: sans-serif;
  float: right;
  }
